version: "2.1"
services:
  resilio-sync:
    image: resilio/sync
    container_name: resilio-sync
    env_file:
      - .env
      - ../../private.env
    environment:
      - TZ=Etc/UTC
    ports:
      - "8888:8888"
      - "55555:55555"
    volumes:
      - ${ROOT}${MEDIA}/resilio-data:/mnt/sync
    restart: unless-stopped
