version: "2.1"
services:
  duplicati:
    image: lscr.io/linuxserver/duplicati:latest
    container_name: duplicati
    env_file:
      - .env
      - ../../private.env
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
      - CLI_ARGS= #optional
    volumes:
      - ${ROOT}${MEDIA}/duplicati/config:/config
      - ${TARGET}${MEDIA}/duplicati/backups:/backups
      - ${ROOT}${MEDIA}/resilio-data/folders/ResilioSync:/source
    ports:
      - 8200:8200
    restart: unless-stopped
