version: '3.5'
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    ports:
      - 8096:8096
    env_file:
      - ../../private.env
      - .env
    volumes:
      - ${ROOT}${MEDIA}/jellyfin/config:/config
      - ${ROOT}${MEDIA}/jellyfin/cache:/cache
      - ${ROOT}${MEDIA}/resilio-data/folders/ResilioSync:/media
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    #environment:
      #- JELLYFIN_PublishedServerUrl=http://localhost:8096
