version: '3.5'
services:
  user-linux:
    image: user/linux
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user-linux
    env_file:
      - .env
      - ../../private.env
    volumes:
      - ${ROOT}/home-server/linux:/media1
      - ${TARGET}${MEDIA}/duplicati/backups:/media
      - ${ROOT}/.aws/credentials:/root/.aws/credentials
    # restart: 'unless-stopped'
