version: '3.5'
services:
  user-linux:
    image: user/linux
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user-linux
    volumes:
      - ${ROOT}${DOCKER_HOME}:/media1
      - ${MEDIA}:/media
      - ${ROOT}${AWS_CREDENTIAL_FILE}:/root/.aws/credentials
    # restart: 'unless-stopped'
